<div class="nav-container">
    <nav class="navbar">
        <ul class="menu">

            <li>
                <a href="/products">Home</a>
            </li>
            <li>
                <a href="/api/sessions/logout">Logout</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>

        </ul>
    </nav>
</div>