<div class="nav-container">
    <nav class="navbar">
        <ul class="menu">

            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/api/sessions/logout">Logout</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            
            <div class="divCanasta">
                <a class="getCart" id="getCart" href="/{{user.idc}}">🧺<span id="cantCart" class="cant-cart"></a></span>
            </div>

        </ul>
    </nav>
</div>